<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<div id = "headwrap">
		<ul id = "navtitle">
			<li><a class = "pagetitle" href="/">Yaqiong Wang</a></li>
		</ul>
		<nav class = "nav">
    		<ul id = "navmenu">
        		<li><a href="/">Home</a></li>
	        	<li><a href="/research/">Research</a></li>
        		<li><a href="/teaching/">Teaching</a></li>
                        <li><a href="https://www.dropbox.com/scl/fi/f8841l0wbl07xioepgw7q/Wang_Yaqiong_Jan2026.pdf?rlkey=i82acqdsp1wjevx1wkae2ox97&st=vg7aqnvw&dl=0">CV</a></li>
        		<li><a href="/blog/">Blog</a></li>
    		</ul>
		</nav>
		</div>
		<hr style="width:100%; border-width:1px; color:#d5d5d5; margin-bottom: 1em;">
		<div id = "content" class="container" style="float:left; margin-bottom: 1.5em">
			
			{{ content }}
			
		</div><!-- /.container -->
		<hr style="width:100%; border-width:1px; color:#d5d5d5">
		<footer>
    		<ul id = "contact">
			<li style="font-weight: bold">Contact</li>
			<li>&nbsp;</li>
			<li>Leavey School of Business</li>
			<li>Lucas Hall, 500 El Camino Real</li>
			<li>Santa Clara, CA 95053</li>
			<li>Email: <a href="mailto:ywang31@scu.edu">ywang31 [at] scu [dot] edu</a></li>
		</ul>
	        <ul id = "links">
			<li>&nbsp;</li>
			<li>&nbsp;</li>
			<li>Scholar Page: <a href="https://scholar.google.com/citations?hl=en&authuser=1&user=vK-I-esAAAAJ">Google Scholar</a></li>
			<li>SSRN Page: <a href="https://papers.ssrn.com/sol3/cf_dev/AbsByAuth.cfm?per_id=2905091">SSRN</a></li>
        		<li>Code: <a href="https://github.com/yaqiongwang">Github</a></li>
		</ul>
		</footer>
	</body>
</html>
